@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.cursor-pointer {
  cursor: url("/cursor/Hand2.png") 18 0, pointer;
}

.not-allowed {
  cursor: url("/cursor/Win95Stop.png") 32 32, auto;
}

.cursor-move {
  cursor: url("/cursor/Win95Move.png") 32 32, auto;
}
